.banner{
    width: 100%;
    height: 35vh;
    position: relative;
    z-index: -1;
}
.logo{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -220px; /* Half the height */
    margin-left: -200px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(175, 160, 160));
    filter: drop-shadow(5px 5px 5px rgb(175, 160, 160));
}
.navPostion a{
    text-decoration: none;
    -webkit-text-stroke: 1px black;
    color: rgb(44, 172, 112);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.4); 
    font-size: 2em;
}
.navPostion{
    transform: translateY(-.5em);
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    padding-left: 7em;
    padding-right: 7em;
    background-color: rgb(79, 112, 80);
}
